*{
    margin: 0;
    padding: 0;
    border: none;
}

#index_div_one {
    background-color: blue;
    height: auto;
    width: 80%;
    margin: auto;
}

#game_div_one {
    background-color: red;
    height: auto;
    width: 80%;
    margin: auto;

}

.question-area{
    background-color: rgb(16, 19, 20) ;
  }
  .question-panel{
    background-color: rgb(179, 206, 56);
    color:#F6F3E8ff;
    font-family:'Roboto', sans-serif;
    font-size: 15px;
    height: 30vh;
  }
  .question-content{
    font-size: 30px;
    padding:10px;
    font-weight: 400; 
  }

  .key-style {
    height: 150px;
    min-width: 50px;
  }

/* Style for 'About' Page */

nav {
  height: auto;
  background-color:rgba(0, 0, 0, 0.5);
  width: fit-content;
  font-size: x-large;
}

nav > a {
  padding: 10px;
  text-decoration: none;
  color: aliceblue;
}

#about_body {
  background: url(../assets/images/music_stage_background.webp) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: auto;
}

#about_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  margin-top: 11%;
}

#about_container h1, h2 {
  display: flex;
  justify-content: center;
  font-family: sans-serif;
}

.profile {
  display: flex;
  align-self: center;
  width: fit-content;
  justify-content: center;
  margin-top: 5px;
  font-size: larger;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#about_foot {
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: xx-large;
  text-decoration: none;
}

#about_foot i {
  color: aliceblue;
}

  /* --------------------------------------------> media queries */
@media only screen and (max-width: 800px){
    .question-content {
      font-size: 20px;
      margin-top: 5px;
     
    }
}

.answers{
    background-color: #F6F3E8ff;
    font-family: 'Roboto', sans-serif;
    color: #294A58ff;
    font-size:20px;
    margin: 0px 10px;
    
    margin-bottom: 10px;
    height:12vh;
    padding:15px;
  }