*{
    margin: 0;
    padding: 0;
    border: none;
}

/*Header and nav*/
body {
  text-align: center;
}

#index_div_one {
    height: auto;
    width: 80%;
    margin: auto;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style-type: none;
}

.nav li {
  display: inline-block;
}

li a {
  text-decoration: none;
}

/*greetings div*/
.greetings_container, .rules_container {
  height: 200px;
  position: relative;
  border: 3px solid green; 
  margin-top: 30px;
  margin-bottom: 30px;
}

.greetings_center, .rules_center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#game_div_one {
    background-color: red;
    height: auto;
    width: 80%;
    margin: auto;

}

.question-area{
    background-color: rgb(16, 19, 20) ;
  }
  .question-panel{
    background-color: rgb(179, 206, 56);
    color:#F6F3E8ff;
    font-family:'Roboto', sans-serif;
    font-size: 15px;
    height: 30vh;
  }
  .question-content{
    font-size: 30px;
    padding:10px;
    font-weight: 400; 
  }

  .key-style {
    height: 150px;
    min-width: 50px;
  }

  /* --------------------------------------------> media queries */
@media only screen and (max-width: 800px){
    .question-content {
      font-size: 20px;
      margin-top: 5px;
     
    }
}

.answers{
    background-color: #F6F3E8ff;
    font-family: 'Roboto', sans-serif;
    color: #294A58ff;
    font-size:20px;
    margin: 0px 10px;
    
    margin-bottom: 10px;
    height:12vh;
    padding:15px;
  }